/* Variables */

/* Primary Colors */

$purple: rgb(124, 93, 250); /* New invoice and mark as paid buttons */

$light-purple: rgb(
  146,
  119,
  255
); /* Hovering over new invoice and mark as paid buttons */

/* Font */

$font: rgb(12, 14, 22); /* All fonts */

/* Accents */

$light-purple-gray: rgb(223, 227, 250); /* Form buttons */

$dark-purple-gray: rgb(136, 142, 176); /* Hovering over form buttons */

$purple-gray: rgb(126, 136, 195); /* Form button font */

$very-dark-purple-gray: rgb(37, 41, 69); /* Dark mode buttons and form fields */

/* Errors */

$red: rgb(236, 87, 87); /* Delete button */

$light-red: rgb(255, 151, 151); /* Hovering over delete button */

/* Item Button */

$item-button: rgb(249, 250, 254);

/* Sidebar */

$sidebar-background: rgb(55, 59, 83);

/* Backgrounds */

$light-background: rgb(248, 248, 251);

$dark-background: rgb(20, 22, 37);

$item-list: $item-button;

$item-list-amount-due: $sidebar-background;

/* Global */

$white: rgb(255, 255, 255);

$subtitle: rgb(136, 142, 176);

/* Status Colors */

$pending: rgb(255, 143, 0);

$pending-lite: rgba(255, 143, 0, 0.06);

/* Buttons */

$edit-button: $item-button;

$delete-button: $red;

$mark-as-paid: $purple;
