@use "app.scss";

.container {
  position: relative;
  display: flex;
  width: 100vw;
  height: auto;
  background-color: app.$light-background;
  padding: 0 0rem;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
  .main {
    width: 100vw;
    min-height: 100vh;
    padding: 0rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    .sidebarBackground {
      position: absolute;
      display: flex;
      width: 103px;
      height: 100vh;
      background-color: app.$dark-background;
      left: 0px;
      z-index: 1;
      @media (max-width: 1100px) {
        display: none;
      }
    }
    .invoiceFormContainer {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 620px;
      height: 100vh;
      align-items: center;
      background-color: app.$white;
      left: 103px;
      z-index: 1;
      @media (max-width: 1100px) {
        width: 100%;
        left: 0px;
      }
    }
    .pageContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 730px;
      margin: 25px 0px 0px 0px;
      @media (max-width: 1100px) {
        width: 90%;
      }
      @media (max-width: 550px) {
        width: 95%;
      }
      .goBackContainer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 81px;
        
        .backArrowHolder {
          position: relative;
          display: flex;
          width: 15px;
          height: 15px;
          align-items: center;
          justify-content: center;
          padding: 0px 0px 0px 0px;
          margin: 0px 0px 0px 0px;
          cursor: pointer;
        }
        p {
          margin: 0px 0px 0px 25px;
          cursor: pointer;
        }
      }
      .mainHeaderContainer {
        position: relative;
        display: flex;
        width: 100%;
        height: 88px;
        align-items: center;
        justify-content: space-between;
        background-color: app.$white;
        margin: 0px 0px 30px 0px;
        padding: 0px 35px;
        border-radius: 10px;
        .statusContainer {
          position: relative;
          display: flex;
          width: 159px;
          height: 40px;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 650px) {
            width: 100%;
          }
          .statusText {
            position: relative;
            display: flex;
            color: app.$subtitle;
            font-size: 12px;
          }
          .pendingStatusContainer {
            position: relative;
            display: flex;
            width: 104px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: app.$pending-lite;
            padding: 0px 0px 5px 0px;
            .pendingCircle {
              position: relative;
              display: flex;
              width: 8px;
              height: 8px;
              background-color: app.$pending;
              border-radius: 50%;
              margin: 2.5px 10px 0px 0px;
              align-self: center;
            }
            .pendingStatus {
              text-transform: capitalize;
              color: app.$pending;
              font-size: 12px;
            }
          }
          .draftStatusContainer {
            position: relative;
            display: flex;
            width: 104px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: app.$draft-lite;
            padding: 0px 0px 5px 0px;
            .draftCircle {
              position: relative;
              display: flex;
              width: 8px;
              height: 8px;
              background-color: app.$draft;
              border-radius: 50%;
              margin: 2.5px 10px 0px 0px;
              align-self: center;
            }
            .draftStatus {
              text-transform: capitalize;
              color: app.$draft;
              font-size: 12px;
            }
          }
          .paidStatusContainer {
            position: relative;
            display: flex;
            width: 104px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: app.$paid-lite;
            padding: 0px 0px 5px 0px;
            .paidCircle {
              position: relative;
              display: flex;
              width: 8px;
              height: 8px;
              background-color: app.$paid;
              border-radius: 50%;
              margin: 2.5px 10px 0px 0px;
              align-self: center;
            }
            .paidStatus {
              text-transform: capitalize;
              color: app.$paid;
              font-size: 12px;
            }
          }
        }
        .buttonsContainer {
          position: relative;
          display: flex;
          width: 309px;
          height: 48px;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 650px) {
            display: none;
          }
          .editButtonContainer {
            position: relative;
            display: flex;
            width: 73px;
            height: 100%;
            align-items: center;
            justify-content: center;
            border-radius: 40px;
            background-color: app.$edit-button;
            cursor: pointer;
            .editText {
              position: relative;
              color: app.$subtitle;
              font-size: 12px;
            }
          }
          .deleteButtonContainer {
            position: relative;
            display: flex;
            width: 89px;
            height: 100%;
            align-items: center;
            justify-content: center;
            border-radius: 40px;
            background-color: app.$delete-button;
            cursor: pointer;
            .deleteText {
              position: relative;
              color: app.$white;
              font-size: 12px;
            }
          }
          .markButtonContainer {
            position: relative;
            display: flex;
            width: 131px;
            height: 100%;
            align-items: center;
            justify-content: center;
            border-radius: 40px;
            background-color: app.$mark-as-paid;
            cursor: pointer;
            .markText {
              position: relative;
              color: app.$white;
              font-size: 12px;
            }
          }
        }
      }
      .mainInvoiceContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 631px;
        height: auto;
        background-color: app.$white;
        padding: 50px;
        border-radius: 10px;
        margin: 0px 0px 50px 0px;
        @media (max-width: 550px) {
          min-height: none;
          height: auto;
        }
        @media (max-width: 400px) {
          padding: 20px;
        }
        @media (max-width: 330px) {
          padding: 15px;
        }
        .invoiceDetailsContainer {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 315px;
          margin: 0px 0px 30px 0px;
          @media (max-width: 550px) {
            height: auto;
            margin: 0px;
          }
          .topContainer {
            position: relative;
            display: flex;
            width: 100%;
            height: auto;
            align-items: center;
            justify-content: space-between;
            margin: 0px 0px 10px 0px;
            @media (max-width: 550px) {
              flex-direction: column;
              align-items: flex-start;
              justify-content: start;
            }
            .leftSide {
              position: relative;
              display: flex;
              flex-direction: column;
              height: 100%;
              align-items: flex-start;
              .id {
                font-size: 16px;
                margin: 0px 0px 10px 0px;
              }
              .description {
                color: app.$purple-gray;
                font-size: 12px;
                margin: 0px;
              }
            }
            .rightSide {
              position: relative;
              display: flex;
              flex-direction: column;
              height: 100%;
              @media (max-width: 550px) {
                margin: 15px 0px 0px 0px;
              }
              .street,
              .city,
              .postal,
              .country {
                color: app.$purple-gray;
                font-size: 12px;
                text-align: right;
                margin: 3px 0px;
                @media (max-width: 550px) {
                  text-align: left;
                }
              }
            }
          }
          .lowerContainer {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 125px;
            justify-content: space-between; /*TEMP PLACEMENT! */
            align-items: center;
            margin: 40px 0px 0px 0px;
            .leftSide {
              position: relative;
              display: flex;
              flex-direction: column;
              width: 25%;
              height: 150px;
              align-items: flex-start;
              justify-content: space-between;
              @media (max-width: 550px) {
                width: 50%;
                margin: 0px 30px 0px 0px;
              }
              .invoiceDateContainer {
                position: relative;
                display: flex;
                flex-direction: column;
              }
              p {
                color: app.$purple-gray;
                font-size: 12px;
                margin: 0px;
              }
              h2 {
                font-size: 15px;
                margin: 15px 0px;
              }
              .paymentDateContainer {
                position: relative;
                display: flex;
                flex-direction: column;
                @media (max-width: 550px) {
                  margin: 15px 0px 0px 0px;
                }
              }
              p {
                color: app.$purple-gray;
                font-size: 12px;
                margin: 0px;
              }
              h2 {
                font-size: 15px;
                margin: 15px 0px 0px 0px;
              }
            }
            .middle {
              position: relative;
              display: flex;
              flex-direction: column;
              width: 25%;
              height: 150px;
              @media (max-width: 550px) {
                width: 50%;
              }
              p {
                color: app.$purple-gray;
                font-size: 12px;
                text-align: left;
                margin: 0px 0px 3px 0px;
                // @media (max-width: 550px) {
                //   text-align: right;
                // }
              }
              h2 {
                font-size: 15px;
                margin: 12px 0px 15px 0px;
                text-align: left;
                // @media (max-width: 550px) {
                //   text-align: right;
                // }
              }
            }
            .rightSide {
              position: relative;
              display: flex;
              flex-direction: column;
              width: 30%;
              height: 150px;
              @media (max-width: 550px) {
                width: 0%;
              }
              p {
                color: app.$purple-gray;
                font-size: 12px;
                text-align: left;
                margin: 0px 0px;
                @media (max-width: 550px) {
                  display: none;
                }
              }
              h2 {
                font-size: 15px;
                margin: 15px 0px;
                text-align: left;
                @media (max-width: 550px) {
                  display: none;
                }
              }
            }
          }
          .rightSideMobile {
            display: none;
            @media (max-width: 550px) {
              position: relative;
              display: flex;
              flex-direction: column;
              width: 30%;
              height: 150px;
              // border: 1px solid red;
              margin: 65px 0px 0px 0px;
            }
            p {
              color: app.$purple-gray;
              font-size: 12px;
              text-align: left;
              margin: 0px 0px;
            }
            h2 {
              font-size: 15px;
              margin: 15px 0px;
              text-align: left;
            }
          }
        }
        .itemListContainer {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;
          background-color: app.$item-list;
          border-radius: 10px;
          @media (max-width: 550px) {
            top: 0px;
          }
          .itemsHeader {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            padding: 20px;
            margin: 0px;
            @media (min-width: 800px) and (max-width: 1100px) {
              width: auto;
            }
            @media (max-width: 550px) {
              display: none;
            }
            .itemName {
              position: relative;
              display: flex;
              width: 282px;
              height: auto;
              color: app.$purple-gray;
              font-size: 11px;
              justify-content: flex-start;
              @media (min-width: 800px) and (max-width: 1100px) {
                width: 322px;
              }
            }
            .itemQuantity {
              position: relative;
              display: flex;
              width: 36px;
              height: auto;
              color: app.$purple-gray;
              font-size: 11px;
              justify-content: flex-start;
              @media (min-width: 800px) and (max-width: 1100px) {
                justify-content: center;
                width: 110px;
              }
            }
            .itemPrice {
              position: relative;
              display: flex;
              width: 120px;
              height: auto;
              color: app.$purple-gray;
              font-size: 11px;
              justify-content: flex-end;
              @media (min-width: 800px) and (max-width: 1100px) {
                width: 195px;
              }
            }
            .itemTotal {
              position: relative;
              display: flex;
              width: 135px;
              height: auto;
              color: app.$purple-gray;
              font-size: 11px;
              justify-content: flex-end;
              @media (min-width: 800px) and (max-width: 1100px) {
                width: 210px;
              }
            }
          }
          .itemListDataContainer {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            padding: 0px 20px 20px 20px;
            @media (min-width: 800px) and (max-width: 1100px) {
              width: auto;
            }
            @media (max-width: 550px) {
              display: none;
            }
            .itemNameData {
              position: relative;
              display: flex;
              width: 282px;
              height: auto;
              color: app.$font;
              font-size: 11px;
              font-weight: 700;
              justify-content: flex-start;
              @media (min-width: 800px) and (max-width: 1100px) {
                width: 322px;
              }
            }
            .itemQuantityData {
              position: relative;
              display: flex;
              width: 36px;
              height: auto;
              color: app.$purple-gray;
              font-size: 11px;
              font-weight: 700;
              justify-content: center;
              @media (min-width: 800px) and (max-width: 1100px) {
                width: 110px;
              }
            }
            .itemPriceData {
              position: relative;
              display: flex;
              width: 120px;
              height: auto;
              color: app.$purple-gray;
              font-size: 11px;
              font-weight: 700;
              justify-content: flex-end;
              @media (min-width: 800px) and (max-width: 1100px) {
                width: 195px;
              }
            }
            .itemTotalData {
              position: relative;
              display: flex;
              width: 135px;
              height: auto;
              color: app.$font;
              font-size: 11px;
              font-weight: 700;
              justify-content: flex-end;
              @media (min-width: 800px) and (max-width: 1100px) {
                width: 210px;
              }
            }
          }
          .itemListDataContainerMobile {
            display: none;
            @media (max-width: 550px) {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding: 0px 20px 20px 20px;
            }
            .leftContainerMobile {
              position: relative;
              display: flex;
              flex-direction: column;
              width: 50%;
              height: auto;
              .titleContainerMobile {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 100%;
                height: auto;
                .itemNameDataMobile {
                  position: relative;
                  display: flex;
                  width: auto;
                  height: auto;
                  color: app.$font;
                  font-size: 11px;
                  font-weight: 700;
                }
              }
                .quantityAndPriceContainerMobile {
                  position: relative;
                  display: flex;
                  align-items: center;
                  width: 100%;
                  height: auto;
                  .itemQuantityDataMobile {
                    position: relative;
                    display: flex;
                    width: auto;
                    height: auto;
                    color: app.$purple-gray;
                    font-size: 11px;
                    font-weight: 700;
                  }
                  .itemPriceDataMobile {
                    position: relative;
                    display: flex;
                    width: auto;
                    height: auto;
                    color: app.$purple-gray;
                    font-size: 11px;
                    font-weight: 700;
                  }
                }
            }
            .rightContainerMobile {
              position: relative;
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
              width: 50%;
              height: auto;
              text-align: right;
              .itemTotalDataMobile {
                position: relative;
                display: flex;
                width: auto;
                height: auto;
                color: app.$font;
                font-size: 11px;
                font-weight: 700;
                justify-content: flex-end;
                text-align: right;
              }
            }
          }
          .amountContainer {
            position: relative;
            display: flex;
            width: 100%;
            height: 80px;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: app.$sidebar-background;
            border-radius: 0px 0px 10px 10px;
            p {
              color: app.$white;
              font-size: 11px;
              @media (max-width: 330px) {
                display: none;
              }
            }
            h6 {
              display: none;
              @media (max-width: 330px) {
              display: flex;
              color: app.$white;
              font-size: 11px;
              font-weight: 400;
              }
            }
            h1 {
              color: app.$white;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  .buttonsBackground {
    display: none;
    @media (max-width: 650px) {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
      background-color: app.$white;
      padding: 20px 0px;
    }
  .buttonsContainerMobile {
    display: none;
    @media (max-width: 650px) {
      position: relative;
      display: flex;
      width: 309px;
      height: 48px;
      align-self: center;
      align-items: center;
      justify-content: space-between;
    }
    .editButtonContainerMobile {
      display: none;
      @media (max-width: 650px) {
        position: relative;
        display: flex;
        width: 73px;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        background-color: app.$edit-button;
        cursor: pointer;
      }
      .editTextMobile {
        display: none;
        @media (max-width: 650px) {
          position: relative;
          display: flex;
          color: app.$subtitle;
          font-size: 12px;
        }
      }
    }
    .deleteButtonContainerMobile {
      display: none;
      @media (max-width: 650px) {
        position: relative;
        display: flex;
        width: 89px;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        background-color: app.$delete-button;
        cursor: pointer;
      }
      .deleteTextMobile {
        display: none;
        @media (max-width: 650px) {
        position: relative;
        display: flex;
        color: app.$white;
        font-size: 12px;
        }
      }
    }
    .markButtonContainerMobile {
      display: none;
      @media (max-width: 650px) {
      position: relative;
      display: flex;
      width: 131px;
      height: 100%;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      background-color: app.$mark-as-paid;
      cursor: pointer;
      }
      .markTextMobile {
        display: none;
        @media (max-width: 650px) {
        position: relative;
        display: flex;
        color: app.$white;
        font-size: 12px;
        }
      }
    }
  }
}
}
